<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD ALUMNOS</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    </head>
    <body>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TRABAJO FINAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

        <div class="card">
            <div class="card-body">
            <form action="/update/<%=data.leg_alumno%>" method="post">
              <div class="form-group row">
                <label class="col-2 col-form-label">Legajo Alumno</label>
                <div class="col-10">
                  <input type="text" name="leg_alumno" value="<%=data.leg_alumno%>"  class="form-control" placeholder="legajo alumno">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">Nombre y apellido alumno</label>
                <div class="col-10">
                  <input type="text" name="apyn_alumno" value="<%=data.apyn_alumno%>"  class="form-control">
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Domicilio alumno</label>
                <div class="col-10">
                  <input type="text" name="dom_alumno" value="<%=data.dom_alumno%>"  class="form-control">
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Codigo Postal</label>
                <div class="col-10">
                  <select class="form-control" id="cod_postal" name="cod_postal">
                    <% if (data.cod_postal  == 7600){%>
                    <option disabled >Codigo Postal</option>
                    <option value="7600" selected>Mar del plata</option>
                    <option value="7601">Batan</option>
                    <option value="8000">Bahia Blanca</option>
                      <%}%>
                      <% if (data.cod_postal  == 7601){%>
                        <option disabled >Codigo Postal</option>
                        <option value="7600">Mar del plata</option>
                        <option value="7601" selected>Batan</option>
                        <option value="8000">Bahia Blanca</option>
                      <%}%>
                      <% if (data.cod_postal  == 8000){%>
                        <option disabled >Codigo Postal</option>
                        <option value="7600" selected>Mar del plata</option>
                        <option value="7601">Batan</option>
                        <option value="8000"selected>Bahia Blanca</option>
                      <%}%>
                  </select>                
                </div>
                  
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Fecha de nacimiento</label>
                <div class="col-10">
                  <%if ((data.fecha_nac_alumno.getMonth()+1)>10){%>
                    <input type="date" name="fecha_nac_alumno" value="<%=data.fecha_nac_alumno.getFullYear()+"-"+(data.fecha_nac_alumno.getMonth()+1)+"-"+(data.fecha_nac_alumno.getDate()-1)%>"  class="form-control">
                    <%}%>
                    <%if ((data.fecha_nac_alumno.getMonth()+1)<10){%>
                    <input type="date" name="fecha_nac_alumno" value="<%=data.fecha_nac_alumno.getFullYear()+"-0"+(data.fecha_nac_alumno.getMonth()+1)+"-"+(data.fecha_nac_alumno.getDate()-1)%>"  class="form-control">
                    <%}%>                
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Email Alumno</label>
                <div class="col-10">
                  <input type="text" name="email_alumno"  value="<%=data.email_alumno%>" class="form-control">
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Grupo sanguineo alumno</label>
                <div class="col-10">
                  <input type="text" name="grupo_sang_alumno"  value="<%=data.grupo_sang_alumno%>"  class="form-control">
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Telefono fijo alumno</label>
                <div class="col-10">
                  <input type="text" name="tel_fijo_alumno"  value="<%=data.tel_fijo_alumno%>"  class="form-control">
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">Telefono movil alumno</label>
                <div class="col-10">
                  <input type="text" name="tel_movil_alumno"  value="<%=data.tel_movil_alumno%>"  class="form-control">
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">DNI alumno</label>
                <div class="col-10">
                  <input type="text" name="dni_alumno" value="<%=data.dni_alumno%>"  class="form-control">
                </div>
                </div>
                <div class="form-group row">
                  <button type="submit" class="btn btn-primary">Actualizar alumno</button>
                </div>
            </form>
    </body>

    
    <script>
      function cod_postal_seleccionado(){
        var option = parseInt(data.fecha_nac_alumno);

        document.getElementById('cod_postal').value = option;
      }
      
    </script>
</html>

